	<dl>
		<dt><label for="">{L_ACP_RH_VIDEOS_ENABLE}{L_COLON}</label><br /><span>{L_ACP_RH_VIDEOS_ENABLE_EXP}</span></dt>
		<dd><label><input type="radio" name="rh_videos_enabled" value="1" <!-- IF S_RH_VIDEOS_ENABLED -->checked="checked"<!-- ENDIF --> />{L_YES}</label>
			<label><input type="radio" name="rh_videos_enabled" value="0" <!-- IF not S_RH_VIDEOS_ENABLED -->checked="checked"<!-- ENDIF --> />{L_NO}</label>
	</dl>
	<dl>
		<dt><label for="">{L_ACP_FORUM_SETTINGS_RH_VIDEOS_PRUNE}{L_COLON}</label><br /><span>{L_ACP_FORUM_SETTINGS_RH_VIDEOS_PRUNE_EXP}</span></dt>
		<dd><label><input type="radio" name="rh_videos_prune" value="1"  onclick="return confirm('{LA_ACP_FORUM_SETTINGS_RH_VIDEOS_PRUNE_CONFIRM}');" <!-- IF S_RH_VIDEOS_PRUNE -->checked="checked"<!-- ENDIF --> />{L_YES}</label>
			<label><input type="radio" name="rh_videos_prune" value="0" <!-- IF not S_RH_VIDEOS_PRUNE -->checked="checked"<!-- ENDIF --> />{L_NO}</label>
	</dl>

